@font-face {
  font-family: GothamBold;
  src: url(/assets/fonts/Gotham\ Bold.otf);
}
@font-face {
  font-family: GothamBook;
  src: url(/assets/fonts/Gotham\ Book.otf);
}
@font-face {
  font-family: GothamMedium;
  src: url(/assets/fonts/Gotham\ Medium.otf);
}
@font-face {
  font-family: GothamThin;
  src: url(/assets/fonts/Gotham\ Thin.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: GothamBold;
  color: #fff;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-weight: GothamBold;
  font-size: 14px;
  height: 56px;
  padding: 20px 40px;
}

.nav-flex-items > a > svg {
  height: inherit;
  width: 152px;
  padding: 0 16px;
}
.demo-link {
  border-bottom: 1px rgba(238, 238, 238, 0.702) solid;
  transition: all 0.3s ease-out;
  color: rgba(238, 238, 238, 0.702);
}

.demo-link:hover {
  border-color: rgba(238, 238, 238);
  border-width: 2px;
  color: rgba(238, 238, 238);
}

.nav-flex-items > .middle-ul {
  display: flex;
  align-items: center;
  color: #fff;
}
.nav-flex-items > .right-ul {
  display: flex;
  align-items: center;
}
.right-ul > li > a,
.middle-ul > li > a {
  color: #fff;
  padding: 7px 14px;
  border-radius: 5px;
  background: transparent;
  transition: all 0.2s linear;
}
.middle-ul > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.right-ul > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.background-page-one {
  background: url('/assets/images/first-page-background.png') no-repeat center center/cover;
  height: 100vh;
  padding-bottom: 10px;
}

.background-page-one > .content {
  display: flex;
  justify-content: center;
  height: 70%;
}
.content-flex-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content-flex-items > h1 {
  font-size: 40px;
  font-weight: 400;
  padding: 0 24px;
  line-height: 48px;
  margin-top: 35%;
}
.content-flex-items > p {
  padding: 6px 24px 14px;
  font-size: 14px;
}
h3 {
  padding: 10px;
  font-size: 16px;
}

.background-1 > .end-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  gap: 15px;
}
.car-specs {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 40px;
  gap: 24px;
  outline-offset: 2px;
}
.car-specs > div {
  padding: 0 15px;
}
.car-specs > div > h3 {
  font-size: 24px;
  min-height: 24px;
  font-weight: 500;
}
.car-specs > div > p {
  padding-top: 5px;
  font-size: 12px;
}

.svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.svg-container > p {
  padding-top: 5px;
  font-size: 12px;
}
.svg-container > h3 {
  font-size: 24px;
  min-height: 24px;
  font-weight: 500;
}

.order-links {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  min-width: 235px;
  text-align: center;
  gap: 24px;
}
.order-links > div > a {
  margin-bottom: 3px;
  border-radius: 4px;
  padding: 10px 24px;
}
.custom-link {
  border: white 2.6666px solid;
  background: transparent;
  transition: all 0.5s linear;
}
a.custom-link > span {
  color: #fff;
  transition: all 0.5s linear;
}

.custom-link:hover {
  background-color: #fff;
}
a.custom-link:hover > span {
  color: black;
}
.inventory-link {
  border: transparent 2.6666px solid;
  background: #fff;
  transition: all 0.5s linear;
}
.inventory-link:hover {
  opacity: 0.7;
}
span.explore {
  color: black;
}
.order-links > div > a > span {
  width: 235px;
  font-weight: 500px;
  font-size: 14px;
  padding: 0 40px;
}

.end-content > .tax-credit {
  margin-top: 32px;
  padding: 0 24px;
  text-align: center;
}
.end-content > .tax-credit > p,
a.review {
  font-size: 12px;
  font-weight: 300;
  color: rgba(238, 238, 238);
}

.end-content > .tax-credit > p > a.review {
  border-bottom: 1px rgba(238, 238, 238, 0.705) solid;
  transition: all 0.3s ease-out;
  color: rgba(238, 238, 238, 0.702);
}
.end-content > .tax-credit > p > a.review:hover {
  border-color: rgba(238, 238, 238);
  border-width: 2px;
  color: rgba(238, 238, 238);
}

.background-page-two {
  background: url('/assets/images/second-page-background.png') no-repeat center center/cover;
  height: 100vh;
}
.background-page-three {
  background: url('/assets/images/third-page-background.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-around;
  font-weight: 400;
  max-height: 640px;
  padding-left: 64px;
}

.tcl-badges {
  text-align: start;
}

.tcl-badges > h2 {
  color: black;
}

.tcl-badges > p {
  padding-top: 16px;
  color: black;
}

.safety-container {
  width: 100%;
  height: 100%;
  background: #fff;
  color: black;
}

.safety-header {
  color: black;
}

.safety-header > h1 {
  color: black;
}

.safety-header > p {
  color: black;
}

.safety-rating > div > h3 {
  color: black;
}
.safety-rating > div > p {
  color: black;
}
